.root {
  width: 600px;
  height: 300px;
}

.body {
  border: 1px solid #ccc;
  cursor: text;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 4px;
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
