.root {
  max-width: 600px;
  height: 300px;
}

.body {
  border: 1px solid #ccc;
  cursor: text;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 4px;
  direction: ltr;
  height: calc(100% - 75px);
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
