.root {
  font-size: 16px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.p {
  margin-bottom: 1rem;
}

.li {
  margin-bottom: 10px;
}

.blockquote {
  background: #e8f5e9;
  padding: 0.25rem 1rem;
}

.root[data-langdir="ltr"] .blockquote {
  border-left: 0.25rem solid #4caf50;
}

.root[data-langdir="rtl"] .blockquote {
  border-right: 0.25rem solid #4caf50;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 1rem;
}

.link {
  color: #1976d2;
  text-decoration: underline;
  text-decoration-color: rgba(25, 118, 210, 0.4);
  direction: ltr;
}

.link:hover {
  text-decoration-color: #1976d2;
}
