.root {
  display: flex;
  overflow-x: auto;
  height: 75px;
  align-items: center;
}

.root.rtl > *:first-child {
  margin-right: auto;
}

.root.rtl > *:last-child {
  margin-left: auto;
}

.root.ltr > *:first-child {
  margin-left: auto;
}

.root.ltr > *:last-child {
  margin-right: auto;
}
